# This file contains common pin mappings for the BIGTREETECH SKR
# MINI. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader".

# The "make flash" command does not work on the SKR mini. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini with that SD card.

# See the example.cfg file for a description of available parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_37FFD8054246383440750857-if00

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
step_distance: .0125
endstop_pin: PC0 
position_endstop: 120
position_max: 120
homing_speed: 20   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PB15
microsteps: 16
interpolate: True
run_current: .25
hold_current: .25
sense_resistor: 0.110
stealthchop_threshold: 500

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
step_distance: .0125
endstop_pin: PC1
position_endstop: 120
position_max: 120
homing_speed: 20   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC6
microsteps: 16
interpolate: True
run_current: .25
hold_current: .25
sense_resistor: 0.110
stealthchop_threshold: 500

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
step_distance: .0025 #for T8x8 lead screw
#step_distance: .000625 #for T8x2 lead screw
endstop_pin: PC2
#position_endstop: -.10
position_max: 120
position_min: -1
homing_speed: 10   #Max 100
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PC10
microsteps: 16
interpolate: True
run_current: .25
hold_current: 0.25
sense_resistor: 0.110
stealthchop_threshold: 500


[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
step_distance: .0024 #calibrate this value for your individual printer!!
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 270
min_extrude_temp: 170
max_extrude_only_distance: 780.0
max_extrude_cross_section: .8
Pressure_advance: 0.0
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: PC11
microsteps: 16
interpolate: True
run_current: 0.2
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 500

[heater_bed]
heater_pin: PC12
sensor_type: NTC 100K 3950
#sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC3
smooth_time: 3.0
max_power: 1.0
control: pid
min_temp: 0
max_temp: 120
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 2000
max_z_velocity: 10
max_z_accel: 30
square_corner_velocity: 5.0

[heater_fan hotend_fan]
# Hotend Fan
pin: PA8
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
# Print Cooling Fan - XYE board, Fan Pin
pin: PC9
kick_start_time: 0.5
#depending on your fan, you may need to increase or reduce this value
#if your fan will not start
off_below: 0.13
cycle_time: 0.001

[idle_timeout]
timeout: 1800


[homing_override]
axes: z
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
   G28 X Y
   G0 X30 Y0 F3600 
   
   G28 Z
   G0 Z10 F1800
   G0 X60 Y60 Z20 F3600

   # Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    G28                            ; home all axes
    G1 Z20 F3000                   ; move nozzle away from bed
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X60 Y120 F3600            ; park nozzle at rear
	
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E280 F1800                  ; quickly load filament to down bowden
   G1 E30 F300                    ; slower extrusion for hotend path
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-380 F1800                 ; retract filament completely
   M82                            ; set extruder to absolute

# Sensor Types
#   "EPCOS 100K B57560G104F"
#   "ATC Semitec 104GT-2"
#   "NTC 100K beta 3950"
#   "Honeywell 100K 135-104LAG-J01"
#   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
#   "AD595"
#   "PT100 INA826"

